@import "reset"; // reset.css - clear settings

/* DEFAULT SETTINGS */

.cbody {
    margin: auto;
    padding: 0px;
    background-color: white;
    width: 100%;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* END DEFAULT SETTINGS */
